/* #8C734B */
.mt {
  margin-top: 100px;
}

#logo {
  margin-top: 50px;
}
.placeholder {
  min-height: 50px; /* Nastav výšku podle očekávaného textu */
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-button {
  --background: rgb(190, 158, 86);

  --color: rgb(255, 255, 255);

  --border-radius: 20px;
  /* --border-color: #000; */
  /* --border-style: solid;
  --border-width: 1px; */

  --box-shadow: 0 0 6px 4px rgba(190, 158, 86, 0.5);

  --ripple-color: rgb(47, 255, 0);

  --padding-top: 10px;
  --padding-bottom: 10px;
}
.text-center {
  text-align: center;
}
.image-container {
  margin: 0 auto;
  width: 350px; /* Pevná šířka */
  height: 175px; /* Pevná výška */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* border: 2px solid #000000;  */
  border-radius: 8px; /* Zaoblené rohy */
}
.image-container img {
  width: auto;
  height: 100%;
  /* object-fit: contain; */
}
.rezerva-space {
  height: 120px;
}
